# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
env/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test cache
.pytest_cache/

# Logs and temporary files
*.log
*.tmp

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/

# MyPy
.mypy_cache/

# PyInstaller
*.spec
